<% @page_title = "Users List" %>

<%= link_to("<< Back to Menu", {controller: 'access', action: 'index'}, class: 'back-link') %> <!-- go to the access controller and on that page use the index action (which shows index.html.erb) -->

<div class="inner_container_sap_users"> 
  <h2>Manage Users</h2>

  <%= link_to('Add New User', {action: 'new'}, class: 'action new') %>  <!-- we're already in admin_users so we know to go to controller admin_users and find the "new" action. -->

  <div> <%= pluralize(@users.size, 'user') %> found</div> <!-- List how many admin users we have using size -->

  <table summary="Users list"  class="inner_container_sap_users">
    <tr class="table_head">
      <th>Username</th> 
      <th>Name</th>
      <th>Email</th>
      <th>Admin</th>
      <th>Actions</th>
    </tr>
    <% @users.each do |user| %> 
    <!-- loop through users -->
    <tr class="table_content"> 
      <td><%= user.username %></td>
      <td><%= user.name %></td> <!-- name method in models > admin_users.rb -->
      <td><%= mail_to(user.email) %></td>
      <td>
      	<% if user.admin %>
          <%= "yes" %>
		<% end %>
      </td>
      <!-- a turnury opperator, if/then.  If visible then output Yes, if not, then No. -->
      <td class="actions">
        <%= link_to('Edit', {action: 'edit', id: user.id}, class: 'action edit') %>
        <!-- id here sends admin_user.id to controllers > admin_users.rb action of edit. -->
        <%= link_to('Delete', {action: 'delete', id: user.id}, class: 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>