<% @page_title = "Location Details" %>

<!-- Breadcrumbs -->
<ul class="breadcrumb loc_each_breadcrumb">
  <!-- State -->
  <li><%= link_to("#{@city.state.name}", {action: 'state', city_id: @city.id, name: @city.state.name}) %></li>
  <!-- City --> 	
  <li class="active"><%= link_to("#{@loc.city.name}", {action: 'city', permalink: @city.permalink}) %></li>
  <!-- Current -->
  <li><%= @loc.name %></li>
</ul>

<!-- back goes back to index to see ALL values -->
<div class="loc_each_container">
  <h2><%= @loc.name %></h2>






   <div class="loc_each_container_row">
      <div class="loc_each_container_all"><%= @loc.content %></div>
    </div>


    <div class="loc_each_container_row">
      <div class="loc_each_container_L">Website</div>
      <div class="loc_each_container_R"><%= link_to("#{@loc.name} Website", "#{@loc.website}", class: 'back-link', target: "_blank") %></div> 
    </div>

    <div class="loc_each_container_row">
      <div class="loc_each_container_L">Phone</div>
      <div class="loc_each_container_R"><a href="tel:<%= @loc.phone %>"><%= @loc.phone %></a></div> 
    </div>

    <div class="loc_each_container_row">
      <div class="loc_each_container_L">Address</div>
      <div class="loc_each_container_R"><%= @loc.address %></div> 
    </div>
</div>